<main class="container my-5">
  <h1>Todo list</h1>
  <br />
  <div class="d-flex justify-content-start">
    <% listTodo.forEach((item) => { %>
    <div class="todo-item card-body mx-2">
      <ul class="list-group">
        <% item.list.forEach((data) => { %>
          <li class="list-group-item my-1">
            <div class="form-group form-check mb-0">
              <input class="form-check-input" onclick="toogleCompleteTask(this, '<%- item.id %>', '<%- data.id %>')" type="checkbox" <% if (data.completed) { %> checked <% } %>/>
              <label class="form-check-label">
                <% if (data.completed) { %>
                  <del><%- data.todo %></del>
                <% } else { %>
                  <span><%- data.todo %></span>
                <% } %>
              </label>
            </div>
          </li>
        <%});%>
      </ul>
    </div>
    <%});%>
  </div>
</main>
<script>
  function toogleChangeElement(element, taskData, isCompleted) {
    const child = document.createElement(isCompleted ? "del" : "span" );
    child.innerHTML = taskData;
    element.children[0]?.remove();
    element.appendChild(child);
  }
  
  const toogleCompleteTask = (element, idTodo, idTask) => {
    const todoElement = element.parentNode;
    const label = todoElement.querySelector('label.form-check-label');
    const taskData = label.innerText;
    const nodeName = label.children[0]?.nodeName;
    toogleChangeElement(label, taskData, element.checked);
    fetch(`/api/todo/update/${idTodo}/${idTask}`)
      .then(res => res.json())
      .then(data => console.log(data))
      .catch(err => console.log(err));
  }
</script>
